<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .terms-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .iconsdiv {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background-color: red;
    }

    .img {
      border-radius: 5px;
    }

    .es-p10r {
      padding-right: 10px;
    }

    .terms-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    table {
      border-radius: 10px;
    }

    .prebooking-table td {
      text-align: center;
      padding: 5px 10px;
      border: 1px solid #000;
      font-size: 14px;
    }

    .prebooking-table thead tr {
      background-color: #f4da47;
    }

    .prebooking-table thead tr td {
      color: #000;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <table align="center" width="100%" class="floated-none" style="
    font-size: 18px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    max-width: 600px !important
     " role="presentation">
    <tbody>
      <tr>
        <td>
          <img src="https://i0.wp.com/dokonaly.com/wp-content/uploads/2023/04/allmasters-logo.png" alt="Image"
            width="100%" height="auto" />
        </td>
      </tr>
      <tr style="margin-top: 20px">
        <td>
          <p>
            <span style="font-weight: 800;"> Hello Team, <br> Greeting! <br><br> </span>
            Some schedules expired by the past 24 hours. The list of all the schedules that have expired
            is shown here. Kindly make sure by checking.
          </p>
          <table class="prebooking-table" style="border-collapse: collapse; border: 1px solid #000">
            <thead>
              <tr>
                <td colspan="4" style="font-weight: 800;">Schedule Details</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <td>S.No</td>
                <td>Timezone</td>
                <td>Schedule Id</td>
                <td>Expired on</td>
              </tr>
            </thead>
            <tbody>
              <% ScheduleCutoffData.forEach(function(e, i) { %>
                <tr>
                  <td>
                    <%= i+1 %>
                  </td>
                  <td>
                    <%= e.timezone%>
                  </td>
                  <td>
                    <%= e.scheduleInfo.map(info=> info.scheduleId).join(', ') %>
                  </td>
                  <td>
                    <%= e.currentTimeIN %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
          <p>Regards,</p>
          <p><strong>AllMasters</strong></p>
          <div class="temp-footer" style="max-width: 600px">
            <div class="temp-fullbleed contained" style="max-width: 600px; width: 100%">
              <div class="region">
                <div>
                  <table class="row aw-stack" style="
                      width: 100%;
                      text-size-adjust: 100%;
                      color: rgb(51, 51, 51);
                      border-collapse: collapse;
                      border-spacing: 0px;
                      border-width: 0px;
                      border-style: none;
                      font-size: 18px;
                    " role="presentation">
                    <tbody>
                      <tr>
                        <td class="container" style="
                            padding: 30px 20px;
                            width: 100%;
                            text-size-adjust: 100%;
                            color: rgb(51, 51, 51);
                            border-collapse: collapse;
                            border-spacing: 0px;
                            border-width: 0px;
                            border-style: none;
                            font-size: 18px;
                          " width="100%" valign="top">
                          <div class="definition-parent">
                            <div class="social social--sm social--circle align-center">
                              <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="
                                  text-size-adjust: 100%;
                                  color: rgb(51, 51, 51);
                                  border-collapse: collapse;
                                  border-spacing: 0px;
                                  border-width: 0px;
                                  border-style: none;
                                  font-size: 18px;
                                ">
                                <tbody>
                                  <td class="esd-block-social es-p20t" align="center" style="font-size:0">
                                  <td class="esd-block-social es-p10b" align="center" style="font-size:0">
                                    <table class="es-table-not-adapt es-social" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="es-p10r" valign="top" align="center"> <a href="<%= instaUrl %>"
                                              style="display: inline-block" target="_blank" rel="noopener noreferrer">
                                              <img style="border-radius: 10px;" alt="Instagram Icon"
                                                src="https://pics.freeicons.io/uploads/icons/png/9608604721530099615-512.png"
                                                data-icon-name="Instagram" height="24" width="24" />
                                            </a></td>
                                          <td class="es-p10r" valign="top" align="center">
                                            <a href="<%= linkdinUrl %>" style="display: inline-block" target="_blank"
                                              rel="noopener noreferrer">
                                              <img style="border-radius: 10px;" alt="LinkedIn Icon"
                                                src="https://pics.freeicons.io/uploads/icons/png/545912701530099617-512.png"
                                                data-icon-name="LinkedIn" height="24" width="24" />
                                            </a>
                                          </td>
                                          <td class="es-p10r" valign="top" align="center">
                                            <a href="https://www.allmasters.ai" style="display: inline-block"
                                              target="_blank" rel="noopener noreferrer">
                                              <img style="border-radius: 10px;" alt="website icon"
                                                src="https://pics.freeicons.io/uploads/icons/png/9523941671601537802-512.png"
                                                data-icon-name="websiteLink" height="24" width="24" />
                                            </a>
                                          </td>
                                          <td class="es-p10r" valign="top" align="center">
                                            <a href="https://wa.me/917845745780" style="display: inline-block"
                                              target="_blank" rel="noopener noreferrer">
                                              <img style="border-radius: 10px;" alt="whatsapp lcon"
                                                src="https://pics.freeicons.io/uploads/icons/png/14388012131530102016-512.png"
                                                data-icon-name="LinkedIn" height="24" width="24" />
                                            </a>
                                          </td>
                                          <td valign="top" align="center"> <a
                                              href="https://www.facebook.com/profile.php?id=100093149024317"
                                              style="display: inline-block" target="_blank" rel="noopener noreferrer">
                                              <img style="border-radius: 10px;" alt="Facebook"
                                                src="https://pics.freeicons.io/uploads/icons/png/14498067661530099611-512.png"
                                                data-icon-name="Facebook" height="24" width="24" />
                                            </a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                        </td>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="definition-parent">
                <div class="text-element paragraph">
                  <div style="
                                  color: rgb(124, 124, 124);
                                  font-size: 14px;
                                  line-height: 125%;
                                  font-weight: 400;
                                  text-align: left;
                                ">
                    <div style="
                                    text-align: center;
                                    color: rgb(124, 124, 124);
                                    font-size: 14px;
                                    line-height: 125%;
                                    font-weight: 400;
                                  ">
                      &nbsp;
                    </div>

                    <div style="
                                    text-align: center;
                                    color: rgb(124, 124, 124);
                                    font-size: 14px;
                                    line-height: 125%;
                                    font-weight: 400;
                                  ">
                      3rd Floor, Ispahani Centre<br />
                      123,124, Nungambakkam High Road<br />
                      Chennai-600034
                    </div>
                  </div>
                </div>
              </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
</body>

</html>